<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="mt-2">New password</h2>
    <form [formGroup]="formNewPassword" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" formControlName="passwordConfirm" placeholder="password confirm">
      </div>
      <input type="submit" value="Send" class="btn btn-primary">
    </form>
  </div>
</div>